@charset "utf-8";

* {
	font-family: sans-serif;
	line-height: 1.6;
}

body {
	font-size: 10pt;
	background: #333;
	color: #ccc;
}

a {
	color: #9af;
}
a:visited {
	color: #faf;
}
a:hover {
	color: #ff9;
}

table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid #555;
	padding: 0.3em 0.7em;
}

